################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevFreela/.vs/DevFreela/FileContentIndex/91d43bc1-70b5-44de-96b0-ca24638eb6bc.vsidx
/DevFreela/.vs/DevFreela/FileContentIndex/1e7dcc2b-d97b-4e86-890e-591a991cd94b.vsidx
/DevFreela/.vs/DevFreela/FileContentIndex
/DevFreela/.vs
/DevFreela/DevFreela.API/bin/Debug/net5.0

/DevFreela/DevFreela.Application/obj/Debug/net5.0/DevFreela.Application.AssemblyInfo.cs
/DevFreela/DevFreela.Application/obj/Debug/net5.0
/DevFreela/DevFreela.Application/obj

*.dll
/DevFreela/DevFreela.Application/obj/Debug/net5.0

/DevFreela/DevFreela/Infrastructure/obj
/DevFreela/DevFreela/Infrastructure/obj/Debug/net5.0/DevFreela.Infrastructure.csproj

/DevFreela/DevFreela.Application/obj

/DevFreela/DevFreela.Infrastructure/obj/Debug/net5.0/DevFreela.Infrastructure.AssemblyInfoInputs.cache
/DevFreela/DevFreela.Infrastructure/obj/Debug/net5.0/DevFreela.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
